<div class="container" setBackground>
  <p>This is a demo HTML Content to understand custom attribute</p>
</div>


<div appHighlight appHover>
  <p>This is a demo HTML Content to understand custom attribute</p>
</div>

<div class="container" [appBetterhighlight]="'red'" [defaultColor]="'green'" >
  <p>This is a demo HTML Content to understand custom attribute</p>
</div>

<div [appClass]="{container:true,'change-font':true}">
  <p>This is a demo html content to undertand how to craete custom</p>
</div>